@import "./config.json";

##{$elementId},
##{$elementId}-stub {
	all: initial;
	box-sizing: border-box;
}

##{$elementId} {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	z-index: 200;
	left: 0;
	bottom: 0;

	max-width: 1120px;
	width: 100%;

	> div {
		position: relative;
		padding: 2px;
		pointer-events: auto;
		margin: 0;
	}

	@media (max-width: 800px) {
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(8px);

		> div {
			padding: 4px;
		}
	}

	&.player-tunegenie {
		pointer-events: none;
		justify-content: right;
		left: 50%;
		transform: translateX(-50%);
		padding-right: 180px;
		height: 65px;

		& > div {
			padding: 2px;
		}

		@media (max-width: 800px) {
			justify-content: center;
			left: 0;
			transform: none;
			bottom: 65px;
			height: fit-content;
			padding: 0;

			& > div {
				padding: 4px;
			}
		}
	}
}

##{$elementId} + ##{$elementId}-stub {
	clear: both;
	display: block;
	background-color: #000;
	width: 100%;
	height: 58px;
}
// hide stub on desktop with tunegenie
##{$elementId}.player-tunegenie + ##{$elementId}-stub {
	display: none;

	// show on mobile
	@media (max-width: 800px) {
		display: block;
	}
}
// if no creative is delivered, hide the stub
##{$elementId}[style*="display: none"] + ##{$elementId}-stub {
	display: none !important;
}
